<body>
    <h2>ketik disini <input type="text" class="keyword" placeholder="Search for names.."> </h2>
<div class="accordion_area">
    <div class="accordion_box wrapper activate">
        <h3 class="acc_trigger">Aktivitas <a href="#" class="reorder-up"> <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
        <div class="acc_container" style="display: block;">
            <p>Tetap berkuliah ditengah pandemi yang semakin hari semakin tak tentu.
            </p>
        </div>
    </div>
    <div class="accordion_box wrapper">
        <h3 class="acc_trigger">Prestasi <a href="#" class="reorder-up"> <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
        <div class="acc_container">
            <p>Sejauh ini masih belum ada semoga kedepannya bisa.</p>
        </div>
    </div>
    <div class="accordion_box wrapper">
        <h3 class="acc_trigger">Project <a href="#" class="reorder-up"> <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
        <div class="acc_container">
            <p>SSedang mengerjakan project yang berkaitan dengan e-learning.
            </p>
        </div>
      
    </div>
    <div class="accordion_box wrapper">
      <h3 class="acc_trigger">Pengalaman <a href="#" class="reorder-up"> <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
      <div class="acc_container">
          <p>Berpengalaman dalam bidang editing teks.</p>
      </div>
  </div>
</div>
</body>
<body>
    <input type="text" class="keyword" placeholder="Search for names..">
    <div class="dropdown">
        <ol class="dropdown-item" id="hasil">
            </ol>
        </div>
</body>