@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* Header */
body p, h1, h5, pre{
    font-family: 'Roboto', sans-serif;
}
h3{
    text-align: center;
}
body{
    overflow-x: hidden;
    background-color: bisque;
}


.accordion_box{
    border: 1px solid rgb(122, 211, 252);
    padding: 0 15px 1px;
    background: #78fcc5;
    color: #332e2e;
}

.accordion_box.activate{
    background: #78fcc5;
}
.acc_trigger{
    padding: 15px 40px 15px 0;
    margin: 0;
    font-size: 30px;
    position: relative;
    cursor: pointer;
}

.acc_trigger .reorder-down{
    position: absolute;
    right: 0;
    top: 22px;
    font-size: 20px;
}

.acc_trigger .reorder-up{
    position: absolute;
    right: 0;
    top: 22px;
    font-size: 20px;
    margin-right: 30px;
}

.acc_container{
    display: none;
}

.acc_container p{
    margin-top: 0px;
    line-height: 1.6;
}
.keyword{
    position: relative;
  display: inline-block;
}

.wrap{
    margin-top: 80px;
    padding-bottom: 110px;
}
