{%load static%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Story-7</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container wrap">
    <h1>Story-7</h1>
    <div class="accordion_area">
        <div class="accordion_box wrapper activate">
            <h3 class="acc_trigger">Aktivitas <a href="#" class="reorder-up"> <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
            <div class="acc_container" style="display: block;">
                <p>Tetap berkuliah ditengah pandemi yang semakin hari semakin tak tentu.
                </p>
            </div>
        </div>
        <div class="accordion_box wrapper">
            <h3 class="acc_trigger">Prestasi <a href="#" class="reorder-up"> <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
            <div class="acc_container">
                <p>Sejauh ini masih belum ada semoga kedepannya bisa.</p>
            </div>
        </div>
        <div class="accordion_box wrapper">
            <h3 class="acc_trigger">Project <a href="#" class="reorder-up"> <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
            <div class="acc_container">
                <p>SSedang mengerjakan project yang berkaitan dengan e-learning.
                </p>
            </div>
          
        </div>
        <div class="accordion_box wrapper">
          <h3 class="acc_trigger">Pengalaman <a href="#" class="reorder-up"> <i class="fa fa-chevron-up" aria-hidden="true"></i></a> <a href="#" class="reorder-down"> <i class="fa fa-chevron-down" aria-hidden="true"></i></a></h3>
          <div class="acc_container">
              <p>Berpengalaman dalam bidang editing teks.</p>
          </div>
      </div>
    </div>
    <a class="btn btn-primary" href="story8" role="button">Link</a>
 </div>
</body>
<script src="{% static 'jquery-3.5.1.slim.min.js'%}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="{% static 'popper.min.js'%}"></script>
      <script src="{% static 'bootstrap.min.js'%}"></script>
      <script type="text/javascript" src="{% static 'jquery.min.js'%}"></script>
      <script type="text/javascript" src="{% static 'script.js'%}"></script>
</html>